<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Text</mat-card-title>
            <mat-card-subtitle>Analysis</mat-card-subtitle>
        </mat-card-header>
        <mat-form-field class="full-width">
            <textarea
                [(ngModel)]="text"
                name="message"
                rows="10"
                matInput
                placeholder="Type or paste here"
            ></textarea>
        </mat-form-field>
    </mat-card>
    <app-metrics [text]="text"></app-metrics>
</div>
