@import "app/styles/_partial";
@import "app/styles/_variables";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 20px;
  height: calc(100% - #{$header-footer-height});
  overflow-y: auto;
}
